# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
/staticfiles/
/media/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment / secret files
.env
